[Unit]
Description=GoAccess Service
After=network.target

[Service]
Type=simple
ExecStart=goaccess -f /usr/local/etc/goaccess/goaccess.conf

[Install]
WantedBy=multi-user.target

