[Unit]
Description=GoAccess Service
After=network.target

[Service]
Type=simple
ExecStart=/usr/local/bin/goaccess -p /usr/local/etc/goaccess/goaccess.conf

[Install]
WantedBy=multi-user.target

